<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="employee1" class="com.synergisticit.domain.Employee" scope="prototype">
		<property name="empId" value="1"></property>
		<property name="name" value="Zara"></property>
		<property name="salary" value="200000"></property>
		<property name="address" ref="address1"></property>
		<property name="hobbies">
			<list>
				<value>Swimming</value>
				<value>Reading</value>
				<value>Dancing</value>
				<value>SINGING</value>
			</list>
		</property>
		<property name="skillSet">
			<set>
				<value>JAVA</value>
				<value>JAVA</value>
				<value>HTML</value>
				<value>CSS</value>
			</set>
		</property>
		<property name="visitedCities">
			<map>
				<entry key="England" value="LONDON"></entry>
				<entry key="Cali" value="Fremont"></entry>
			</map>
		</property>
		<property name="cities">
			<map key-type="java.lang.Integer" value-type="java.lang.String">
				<entry key="100" value="LALA LAND"></entry>
				<entry key="102" value="MISTIC FALLS"></entry>
			</map>
		</property>
	</bean>

	<bean name="address1" class="com.synergisticit.domain.Address">
		<property name="streetAddress" value="6401 Shellmound str"></property>
		<property name="city" value="Emeryville"></property>
		<property name="state" value="Ca"></property>
		<property name="country" value="US"></property>
		<property name="zip" value="94608"></property>
	</bean>
	<bean id="employee2" class="com.synergisticit.domain.Employee" scope='singleton'>
		<property name="empId" value="1"></property>
		<property name="name" value="Zara"></property>
		<property name="salary" value="200000"></property>
		<property name="address" ref="address1"></property>
		<property name="hobbies">
			<list>
				<value>Swimming</value>
				<value>Reading</value>
				<value>Dancing</value>
				<value>SINGING</value>
			</list>
		</property>
		<property name="skillSet">
			<set>
				<value>JAVA</value>
				<value>JAVA</value>
				<value>HTML</value>
				<value>CSS</value>
			</set>
		</property>
		<property name="visitedCities">
			<map>
				<entry key="England" value="LONDON"></entry>
				<entry key="Cali" value="Fremont"></entry>
			</map>
		</property>
		<property name="cities">
			<map key-type="java.lang.Integer" value-type="java.lang.String">
				<entry key="100" value="LALA LAND"></entry>
				<entry key="102" value="MISTIC FALLS"></entry>
			</map>
		</property>
	</bean>

</beans>